@import "../../module.variables.scss";

.Table {
    position: relative;

    .fetching {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $borderRadius;
        padding: 30px;
        z-index: 2;

        &.float {
            position: absolute;
            left: 0;
            background: rgba($color: $white, $alpha: 0.8);
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            font-weight: 500;
            color: $grey;
            text-align: left;
            padding: 15px;
            user-select: none;
            border-bottom: 1px solid $borderColor;
        }

        td {
            text-align: left;
            padding: 20px 15px;
            font-weight: 400;
            color: $dark;
            border-bottom: 1px solid rgba($color: $borderColor, $alpha: 0.2);
        }

        // ============================ Sort style ================================
        .enableSort {
            padding-right: 18px;
            position: relative;
            cursor: pointer;

            &:before,
            &:after {
                opacity: 0.3;
                border: 4px solid transparent;
                content: "";
                display: block;
                height: 0;
                right: 5px;
                top: 50%;
                position: absolute;
                width: 0;
            }

            &:before {
                border-bottom-color: $grey;
                margin-top: -9px;
            }

            &:after {
                border-top-color: $grey;
                margin-top: 1px;
            }

            &.increase {
                &:before,
                &:after {
                    opacity: 1;
                }

                &:before {
                    opacity: 0.3;
                }
            }

            &.descrease {
                &:before,
                &:after {
                    opacity: 1;
                }

                &:after {
                    opacity: 0.3;
                }
            }
        }
        // ============================ End Sort style ============================

        tbody.Table__Body {
            tr {
                &:hover {
                    td {
                        background: rgba($color: $grey, $alpha: 0.1);
                    }
                }
            }
        }

        // ============================ Filter style ================================
        tr {
            &.filter {
                td,
                th {
                    padding-top: 0px;
                    padding-bottom: 10px;

                    .item {
                        width: 100%;
                    }
                }
            }
        }
        // ============================ End Filter style ============================
    }

    .PaginationInfo {
        color: $grey;
    }

    .TablePagination {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        margin-top: 15px;

        .wraper {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 35px;

            .btnPagination {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                width: 35px;
                border-radius: $borderRadius;
                cursor: pointer;
                border-color: rgba($color: $primary, $alpha: 0);
                background: none;
                outline: none;

                svg {
                    height: 12px;

                    * {
                        fill: $grey;
                    }
                }

                &:hover {
                    border: 1px solid $primary;

                    svg * {
                        fill: $primary;
                    }
                }

                &:disabled {
                    opacity: 0.3;
                    cursor: default;

                    &:hover {
                        border-color: rgba($color: $primary, $alpha: 0);

                        svg * {
                            fill: $grey;
                        }
                    }
                }
            }

            .pageNumber {
                color: $grey;
                height: 30px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .loading {
                padding: 0 15px;
            }

            form.formInputPageNumber {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $borderRadius;
                border: 1px solid $primary;
                overflow: hidden;

                input,
                button {
                    height: 35px;
                    border: none;
                }

                input {
                    padding: 0 7px;
                    outline: none;
                    color: $dark;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;
                    background: $primary;
                    color: $white;
                    padding: 0 15px;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }

    .Message {
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100px;
    }
}

.Table__SearchBox {
    margin-bottom: 10px;

    &.hasValue {
        .input {
            border-color: $primary !important;
        }
    }

    .input {
        display: inline-flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: $borderRadius;
        border: 1px solid rgba($color: $borderColor, $alpha: 0);
        transition: border 0.2s ease;

        &:focus-within {
            border: 1px solid $borderColor;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            svg {
                height: 15px;

                * {
                    fill: $grey;
                }
            }
        }

        input {
            outline: none;
            border: none;
            font-size: 1em;
            color: $dark;
            width: 400px;
            max-width: 100%;
            background: transparent;

            &::placeholder {
                color: $grey;
                font-weight: 300;
            }
        }

        .btnClear {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            cursor: pointer;
            opacity: 0.7;

            svg {
                height: 10px;

                * {
                    fill: $grey;
                }
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    .suggests {
        margin-top: 15px;
        overflow: hidden;
        border-radius: $borderRadius;
        border: 1px solid $borderColor;

        .item {
            display: flex;
            align-items: center;
            padding: 15px;
            cursor: pointer;
            border-bottom: 1px solid $borderColor;

            &.focused {
                background: rgba($color: $primary, $alpha: 0.05);
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .Message {
        margin: 30px 0;
    }
}

.Table__Filter {
    $minHeightFilterItem: 35px;

    &__Pannel {
        border-radius: $borderRadius;

        .button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 1em;
            font-weight: 500;
            margin-right: 10px;
            margin-bottom: 10px;
            color: $grey;
            transition: 0.2s ease;
            border: 1px solid $borderColor;
            min-height: $minHeightFilterItem;
            padding: 7px 10px;
            border-radius: $borderRadius;
            position: relative;

            svg {
                height: 11px;
                margin-right: 10px;

                * {
                    fill: $grey;
                }
            }

            &:hover {
                opacity: 1;
            }

            .qty {
                margin-left: 7px;
                padding: 3px 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                background: $primary;
                font-size: 0.8em;
                font-weight: bold;
                border-radius: $borderRadius;
            }
        }

        .paramItem {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 7px;
            background: $grey;
            color: $white;
            padding: 7px 10px;
            border-radius: $borderRadius;
            margin-bottom: 10px;
            min-height: $minHeightFilterItem;

            .btnRemove {
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.5;
                cursor: pointer;

                svg {
                    height: 10px;
                    margin-left: 10px;

                    * {
                        fill: $white;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__Popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.2);
        z-index: $zIndexTableFilter;
        padding: 20px;
        overflow: auto;

        .content {
            background: $white;
            width: 700px;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 15px;
            border-radius: $borderRadius;

            .head {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .title {
                    flex: 1;
                    width: 100%;
                    font-size: 1.4em;
                }

                .btnClose {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.5;
                    cursor: pointer;

                    svg {
                        height: 15px;

                        * {
                            fill: $dark;
                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .list {
                margin-bottom: 25px;

                .item {
                    margin-bottom: 15px;

                    > .label {
                        margin-bottom: 5px;
                        color: $grey;
                        font-size: 0.9em;
                    }
                }
            }

            .btnActions {
                button {
                    margin-right: 10px;
                }
            }
        }
    }
}
