@import "../../module.variables";

.ButtonSelectLanguage {
    display: inline-flex;
    align-items: center;
    border: 1px solid $grey;
    border-radius: $borderRadius;
    cursor: pointer;
    z-index: 200;
    position: relative;

    &.fixed {
        position: fixed;
        top: 40px;
        right: 15px;
    }

    .label {
        font-size: 0.9em;
        color: $white;
        padding-left: 15px;
    }

    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        border-radius: $borderRadius;
        outline: none;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        background: transparent;
        color: $white;
        position: relative;
        border: none;

        .info {
            display: flex;
            text-align: left;
            flex-direction: column;
            font-weight: 300;

            img.flag {
                height: 16px;
            }
        }

        .toggleIcon {
            margin-left: 15px;

            svg {
                height: 5px;
                transform: translateY(-2px);

                * {
                    fill: $white;
                }
            }
        }

        .options {
            position: absolute;
            top: 100%;
            right: 0;
            padding-top: 10px;
            transform: scaleY(0);
            transform-origin: 50% 0%;
            transition: 0.2s ease;

            .wraper {
                background: $dark;
                width: max-content;
                border-radius: $borderRadius;
                border: 1px solid $borderColor;
                box-shadow: $boxShadow;

                .item {
                    text-align: left;
                    padding: 10px 15px;

                    .type {
                        margin-bottom: 5px;
                        color: $grey;
                        font-size: 0.8em;
                    }

                    .name {
                        color: $grey;
                    }

                    .amount {
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    &.language {
                        display: flex;
                        align-items: center;

                        img.flag {
                            height: 16px;
                            margin-right: 10px;
                        }
                    }

                    &:hover {
                        .name {
                            color: $white;
                        }
                    }

                    &.active {
                        cursor: default;

                        .type,
                        .amount,
                        .name {
                            color: $primary;
                        }

                        .amount {
                            &::before {
                                content: "• ";
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        button {
            .options {
                transform: scaleY(1);
            }
        }
    }
}