@import "../../../../../module.variables.scss";
.ValueCard {
  background: $offDark;
  margin-bottom: 15px;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .content {
    padding: 15px 15px;
  }

  .titleWraper {
    display: flex;
    margin-bottom: 11px;
    p {
      font-size: 12px;
    }
    svg {
      width: 16px;
      margin-right: 10px;
      * {
        fill: $white;
      }
    }
  }

  .txtValue {
    font-size: 21px;
    color: $primary;
    font-weight: 100;
  }
}
